<section class="relative w-full min-h-screen text-white">
  <app-nav></app-nav>
  <!-- Imagem de fundo responsiva -->
  <picture>
    <source media="(min-width: 1024px)" srcset="background-home-desktop.jpg" />
    <source media="(min-width: 640px)" srcset="background-home-tablet.jpg" />
    <img src="background-home-mobile.jpg" alt="fundo"
      class="absolute top-0 left-0 w-full h-full object-cover -z-10" />
  </picture>

  <!-- Conteúdo acima da imagem -->
  <div data-aos="zoom-in" class="absolute inset-0 z-10 flex flex-col items-center justify-center px-4 text-center bg-black bg-opacity-40 lg:flex-row lg:space-x-52 ">
    <div class="pt-32 pb-10 lg:w-80 lg:space-y-5 xl:w-96">
      <p class="text-gray-400 uppercase md:text-xl lg:text-start xl:text-2xl">So, you want to travel to</p>
      <h1 class="text-6xl uppercase md:text-8xl lg:text-start xl:text-9xl">Space</h1>
      <p class="text-gray-400 max-w-xl px mt-4 text-sm md:text-base lg:text-start lg:mt-0 xl:text-xl">
        Let’s face it; if you want to go to space, you might as well genuinely go to
        outer space and not hover kind of on the edge of it. Well sit back, and relax
        because we’ll give you a truly out of this world experience!
      </p>
    </div>

    <button
      class="my-10 font-medium flex justify-center items-center p-16 h-32 w-32 text-xl tracking-wider text-black uppercase transition bg-white rounded-full hover:scale-105 active:scale-95 lg:mt-52 lg:w-52 lg:h-52 xl:h-64 xl:w-64 xl:text-3xl">
      Explore
    </button>
  </div>
</section>